<div class="data" id="data">
      <h2>Characters</h2>
      <h2>Filter:</h2>
        
          <div class = "filter" id="filter-form"> 
            <form id = "filter" action="/filter" method="post">
              <select>
                <optgroup label = "Culture">
                  {{#each culture}}
                  <option value="{'culture', '{{culture_id}}'}"> {{culture_name}} </option>
                  {{/each}}
                </optgroup>

                <optgroup label = "Mother's House">
                    {{#each house}}
                    <option value="{{house_id}}"> {{houses_name}} </option> 
                    {{/each}}
                </optgroup>

                <optgroup label = "Fathers's House">
                    {{#each house}}
                    <option value="{{house_id}}"> {{houses_name}} </option> 
                    {{/each}}
                </optgroup>

                <optgroup label = "Allegiance">
                    {{#each house}}
                    <option value="{{house_id}}"> {{houses_name}} </option> 
                    {{/each}}
                </optgroup>

                <optgroup label = "Status">
                    <option value="1"> Alive </option> 
                    <option value="0"> Deceased </option> 
                </optgroup>


              </select>

              <input type="submit" class="filter-submit" value="Submit" > 

            </form>
          </div>

        <table id="myTable"  cellpadding="10"> 
  



  <thead>
    <th>Name</th>
    <th>Culture</th>
    <th>Mother's House</th>
    <th>Father's House</th>
    <th>Allegiance</th>
    <th>Status</th>
    <th>Action</th>
  </thead>   
  <tbody> 

  {{#each character}}
    <tr> 
      <td>{{character_name}}</td>
      <td>
        <script>
            if(!'{{character_culture}}'){
              document.write("Unknown"); 
            }
            else{
              document.write('{{character_culture}}'); 
            }
        </script>

      </td>
      <td>
        <script>
            if(!'{{mothers_house}}'){
              document.write("Unknown"); 
            }
            else{
              document.write('{{mothers_house}}'); 
            }
        </script>
      </td>

      <td>
        <script>
            if(!'{{fathers_house}}'){
              document.write("Unknown"); 
            }
            else{
              document.write('{{fathers_house}}'); 
            }
        </script>
      </td>


      <td>
        <script>
            if(!'{{allegiance}}'){
              document.write("Unknown"); 
            }
            else{
              document.write('{{allegiance}}'); 
            }
        </script>

      </td>

      <td>
        <script>
          if({{is_alive}} == "1"){
            document.write("Alive"); 
          }
          else{
            document.write("Deceased"); 
          }
        </script>
      </td> 
      <td id="table_buttons>
      <div class="btns"> 
      <button id="edit" onclick="editCharacter('{{character_name}}','{{character_culture}}','{{mothers_house}}','{{fathers_house}}','{{allegiance}}','{{is_alive}}','{{character_Id}}')">edit</button>
      <button id= "delete" onclick="deleteCharacter('{{character_Id}}')">delete</button> 
      </div> 
    </td> 

      </tr>
  {{/each}}

</tbody>

<!--[{"character_id":1,"character_name":"Eddard Stark","character_culture":7,"mothers_house":null,"fathers_house":4,"allegiance":14,"is_alive":0}, -->

  </table> 





      <p></p> 

    </div>







    <div class = "button-wrapper">
      <button type="button" class="open-button" 
      onclick="openForm()"> ADD A CHARACTER </button>
    </div>



    <div class = "form-popup" id="character-form"> 
      <form id = "addCharacter" action="/characters" method="post"
        class="form-container"> 
          <h3 id="form_text">Add a Character</h3>
          <input type="hidden" name="character_id" id="c_id" value="99">
          <label for="Name"><b>Name:</b> 
          </label>
          <input id="name_input" type="text"
          placeholder="Enter Name" name="character_name" required > 

          <label for="Culture"><b> Culture:</b> 
          </label>
          <select id='culture-filter' name="character_culture"> 
            <option value="" >null</option>
            {{#each culture}}
            <option value="{{culture_id}}"> {{culture_name}} </option> 
            {{/each}}
              <!--Make it so that options are brought in from available cultures--> 
            
          </select>

          <label for="Mother's House"><b>Mother's  House:</b> 
          </label>
          <select id='mothers_house-filter' name="mothers_house"> 
            <option value="" >null</option>
            {{#each house}}
            <option value="{{house_id}}"> {{houses_name}} </option> 
            {{/each}}
            </select>


          <label for="Father's House"><b>Father's  House:</b> 
          </label>
          <select id='fathers_house-filter' name="fathers_house"> 
            <option value="" >null</option>
            {{#each house}}
            <option value="{{house_id}}"> {{houses_name}} </option> 
            {{/each}}
          </select>

          <label for="Allegiances"><b>Allegiance:</b></label>     
          <select id='Allegiance-filter' name="allegiance"> 
            <option value="" >null</option>
            {{#each house}}
            <option value="{{house_id}}"> {{houses_name}} </option> 
            {{/each}}
          </select>     
          

          <label for="isAlive"><b>Status:</b> 
          </label>
          <select id='status_filter' name="is_alive"> 
            <option value="1"> Alive</option> 
            <option value="0"> Deceased </option>
          </select>

          <input type="submit" class="submit-button" value="Submit" > 
          <button type="button"
          class="cancel-button" 
          onclick="closeForm()" > Cancel</button> 

      </form>
    </div>


    <script>
      function openForm(){
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        document.getElementById("character-form").style.display = "block"; 
        document.getElementById("addCharacter").reset();
      }

      function closeForm(){
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        document.getElementById("character-form").style.display = "none"; 
      }

      function editCharacter(name,culture, mothers_house, fathers_house, allegiance, status, character_id){
        document.getElementById("character-form").style.display = "block";
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        document.getElementById("addCharacter").reset();
        form_text.innerText = "Edit Character";  
        //name_input.placeholder.innerText = character.character_name; 
        document.getElementById("name_input").value = name; 
        var culture_select = document.getElementById('culture-filter'); 

        for(var i = 0; i < culture_select.length; i++){
          if(culture_select.options[i].text== culture){
            culture_select.selectedIndex = i; 
            break; 
          }
          else{
            culture_select.selectedIndex = 0; 
          }
        }

        var mothers_house_select = document.getElementById('mothers_house-filter'); 


         for(var i = 0; i < mothers_house_select.length; i++){
          if(mothers_house_select.options[i].text== mothers_house){
            mothers_house_select.selectedIndex = i; 
            break; 
          }
          else{
            mothers_house_select.selectedIndex = 0;
          }
        }

        var fathers_house_select = document.getElementById('fathers_house-filter'); 

         for(var i = 0; i < fathers_house_select.length; i++){
          if(fathers_house_select.options[i].text== fathers_house){
            fathers_house_select.selectedIndex = i; 
            break; 
          }
          else{
            fathers_house_select.selectedIndex = 0; 
          }
        }

        var allegiance_select = document.getElementById('Allegiance-filter'); 

         for(var i = 0; i < allegiance_select.length; i++){
          if(allegiance_select.options[i].text== allegiance){
            allegiance_select.selectedIndex = i; 
            break; 
          }
          else{
            allegiance_select.selectedIndex = 0;
          }
        }

        var status_select = document.getElementById('status_filter'); 

         for(var i = 0; i < status_select.length; i++){
          if(status_select.options[i].value == status){
            status_select.selectedIndex = i; 
            break; 
          }
          else{
            status_select.selectedIndex = 0;
          }

      }
      console.log(character_id); 
      document.getElementById("c_id").value = character_id; 
      document.getElementById("addCharacter").action = "/characters/update"
    


    }

    function deleteCharacter(character_id){
      $.ajax({
        url: '/delete/' + character_id,
        type: 'POST',
        success: function(result){
            window.location.reload(true);
        }
    })
    }

    </script>
  </body>