<div class="data" id="data">
      <h2>Characters</h2>
 
        <table id="myTable"  cellpadding="10"> 
  



  <thead>
    <th>Name</th>
    <th>Culture</th>
    <th>Mother's House</th>
    <th>Father's House</th>
    <th>Allegiace</th>
    <th>Status</th>
    <th>Action</th>
  </thead>   
  <tbody> 

  {{#each character}}
    <tr> 
      <td>{{character_name}}</td>
      <td>{{character_culture}}</td>
      <td>{{mothers_house}}</td>
      <td>{{fathers_house}}</td>
      <td>{{allegiance}}</td>
      <td>
        <script>
          if({{is_alive}} == "1"){
            document.write("Alive"); 
          }
          else{
            document.write("Deceased"); 
          }
        </script>
      </td> 
      <td id="table_buttons>
      <div class="btns"> 
      <button id="edit">edit</button>
      <button id= "delete">delete</button> 
      </div> 
    </td> 

      </tr>
  {{/each}}

</tbody>

<!--[{"character_id":1,"character_name":"Eddard Stark","character_culture":7,"mothers_house":null,"fathers_house":4,"allegiance":14,"is_alive":0}, -->

  </table> 



      <p>A drop down menu will go here to relate characters by the chosen attribute. A pop up with the table will appear. </p> 

    </div>




    <div class = "button-wrapper">
      <button type="button" class="open-button" 
      onclick="openForm()"> ADD A CHARACTER </button>
    </div>

    <div class = "form-popup" id="form"> 
      <form action="/action-page.html" style="background:url(people.jpg)"
        class="form-container"> 
          <h1>Add a Character</h1>
          <label for="Name"><b>Name:</b> 
          </label>
          <input type="text"
          placeholder="Enter Name" name="name" required> 

          <label for="Culture"><b> Culture:</b> 
          </label>
          <select name="Cultures"> 
            <option value="Test1"> Test1 </option> 
            <option value="Test2"> Test2 </option>
            <option value="Test3"> Test3 </option>
              <!--Make it so that options are brought in from available cultures--> 
          </select>

          <label for="Mother's House"><b>Mother's  House:</b> 
          </label>
          <input type="text"
          placeholder="Enter Mother's House" name="Mother's House"> 

          <label for="Father's House"><b>Father's  House:</b> 
          </label>
          <input type="text"
          placeholder="Enter Father's House" name="Fathers's House"> 

          <label for="Allegiances"><b>Allegiances:</b></label>          
          <select multiple name="Allegiances"> 
            <option value="Test1"> Test1 </option> 
            <option value="Test2"> Test2 </option>
            <option value="Test3"> Test3 </option>
              <!--Make it so that options are brought in from available Houses--> 
          </select>

          <label for="isAlive"><b>Status:</b> 
          </label>
          <select name="Cultures"> 
            <option value="Yes"> Alive</option> 
            <option value="No"> Dead </option>
          </select>

          <button type=submit" 
          class="submit-button"
          onclick="closeForm()"> Submit</button> 
          <button type="button"
          class="cancel-button" 
          onclick="closeForm()" > Cancel</button> 
      </form>
    </div>

    <script>
      function openForm(){
        document.getElementById("form").style.display = "block"; 
      }

      function closeForm(){
        document.getElementById("form").style.display = "none"; 
      }
 
    </script>
  </body>