<div class="data" id="data">
      <h2>Cultures</h2>
 
        <table id="myTable"  cellpadding="10"> 
  <thead>
    <th>Name</th>
    <th>Language</th>
    <th>Religion</th>
    <th>Society</th>
    <th>Action</th>
  </thead>   
  <tbody> 
{{#each culture}}
    <tr> 
      <td>{{culture_name}}</td>
      <td>{{language}}</td>
      <td>{{religion}}</td>
      <td>{{society}}</td>
      <td id="table_buttons>
      <div class="btns"> 
      <button id= "delete" onclick="deleteCulture('{{culture_id}}')">delete</button> 
      </div> 
    </td> 

      </tr>
  {{/each}}
  </tbody>




  </table> 



      <p></p> 

    </div>


    <div class = "button-wrapper">
      <button type="button" class="open-button" 
      onclick="openForm()"> ADD A CULTURE </button>
    </div>



    <div class = "form-popup" id="culture-form"> 
      <form id = "addCulture" action="/cultures" method="post"
        class="form-container"> 
          <h3 id="form_text">Add a Culture</h3>
          
          <label for="Name"><b>Name:</b></label>
          <input id="name_input" type="text"
          placeholder="Enter Name" name="culture_name" required > 

          <label for="Language"><b>Language:</b></label>
          <input id="language_input" type="text" placeholder="Enter Language" name="language">
          
          <label for="Religion"><b>Religion:</b></label>
          <input id="religion_input" type="text" placeholder="Enter Religion" name="religion">

          <label for="Society"><b>Society:</b></label>
          <input id="language_input" type="text" placeholder="Enter Society" name="society">

          <input type="submit" class="submit-button" value="Submit" > 
          <button type="button"
          class="cancel-button" 
          onclick="closeForm()" > Cancel</button> 

      </form>
    </div>

    <script>
      function openForm(){
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        document.getElementById("culture-form").style.display = "block"; 
        document.getElementById("addCulture").reset();
      }

      function closeForm(){
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        document.getElementById("culture-form").style.display = "none"; 
      }

    function deleteCulture(culture_id){
      var confirmDelete = confirm("Are you sure you want to delete this culture?");
      if(confirmDelete){
        $.ajax({
          url: '/cultures/delete/' + culture_id,
          type: 'POST',
          success: function(result){
            window.location.reload(true);
        }
    })
      }
    }

    </script>






  </body>