 <div class="data" id="data">
      <h2>Houses</h2>
        <table id="myTable"  cellpadding="10"> 
 
 <thead>
    <th>Name</th>
    <th>Sigil</th>
    <th>Words</th>
    <th>Leader</th>
    <th>Great House?</th>
    <th>Action</th>
  </thead>   
  <tbody> 
{{#each house}}
    <tr> 
      <td>{{houses_name}}</td>
      <td>{{sigil}}</td>
      <td>{{words}}</td>
      <td>{{current_leader}}</td>
      <td>
        <script>
          if({{is_great_house}} == "1"){
            document.write("Yes"); 
          }
          else{
            document.write("No"); 
          }
        </script>
      </td>
      <td id="table_buttons>
      <div class="btns"> 
      <button id= "delete" onclick="deleteHouse('{{house_id}}')">delete</button>  
      </div> 
    </td> 

      </tr>
  {{/each}}
  </tbody>


  </table> 



      <p></p> 


    </div>

    <div class = "button-wrapper">
      <button type="button" class="open-button" 
      onclick="openForm()"> ADD A HOUSE </button>
    </div>



    <div class = "form-popup" id="house-form"> 
      <form id = "addHouse" action="/houses" method="post"
        class="form-container"> 
          <h3 id="form_text">Add a House</h3>
          <label for="Name"><b>Name:</b> </label>
          <input id="name_input" type="text"
          placeholder="Enter Name" name="houses_name" required > 

          <label for="Sigil"><b>Sigil:</b> </label>
          <input id="sigil_input" type="text"
          placeholder="Enter Sigil" name="sigil"> 

          <label for="Words"><b>Words:</b> </label>
          <input id="words_input" type="text"
          placeholder="Enter Words" name="words">

          <label for="Current Leader"><b>Current Leader:</b> 
          </label>
          <select id='current_leader-filter' name="current_leader"> 
            <option value="" >null</option>
            {{#each character}}
            <option value="{{character_Id}}"> {{character_name}} </option> 
            {{/each}}        
          </select>

          <label for="isGreatHouse"><b>Great House?</b> 
          </label>
          <select id='status_filter' name="is_great_house"> 
            <option value="0">No</option> 
            <option value="1">Yes</option>
          </select>

          <input type="submit" class="submit-button" value="Submit" > 
          <button type="button"
          class="cancel-button" 
          onclick="closeForm()" > Cancel</button> 

      </form>
    </div>


    <script>
      function openForm(){
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        document.getElementById("house-form").style.display = "block"; 
        document.getElementById("addHouse").reset();
      }

      function closeForm(){
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        document.getElementById("house-form").style.display = "none"; 
      }

      


    function deleteHouse(house_id){
      var confirmDelete = confirm("Are you sure you want to delete this house?");
      if(confirmDelete){
        $.ajax({
          url: '/houses/delete/' + house_id,
          type: 'POST',
          success: function(result){
            window.location.reload(true);
        }
    })
      }
    }


    </script>


  </body>