 <div class="data" id="data">
      <h2>Seats</h2>
           <table id="myTable"  cellpadding="10"> 
  <thead>
    <th>Name</th>
    <th>House</th>
    <th>Region</th>
    <th>Founder</th>
    <th>Action</th>
  </thead>   
  <tbody> 
{{#each seat}}
    <tr> 
      <td>{{seat_name}}</td>
      <td>{{current_house}}</td>
      <td>{{region}}</td>
      <td>{{founder}}</td>
      <td id="table_buttons>
      <div class="btns"> 
      <button id="edit">edit</button>
      <button id= "delete" onclick="deleteSeat('{{seat_id}}')">delete</button> 
      </div> 
      </div> 
    </td> 

      </tr>
  {{/each}}
  </tbody>


  </table> 



      <p>A drop down menu will go here to relate characters by the chosen attribute. A pop up with the table will appear. </p> 

    </div>

    <div class = "button-wrapper">
      <button type="button" class="open-button" 
      onclick="openForm()"> ADD A SEAT </button>
    </div>



    <div class = "form-popup" id="seat-form"> 
      <form id = "addSeat" action="/seats" method="post"
        class="form-container"> 
          <h3 id="form_text">Add a Seat</h3>
          <label for="Name"><b>Name:</b> </label>
          <input id="name_input" type="text"
          placeholder="Enter Name" name="seat_name" required > 


          <label for="House"><b>House:</b> 
          </label>
          <select id='current_house-filter' name="current_house"> 
            <option value="" >null</option>
            {{#each house}}
            <option value="{{house_id}}"> {{houses_name}} </option> 
            {{/each}}
            </select>

          <label for="Region"><b>Region:</b></label>
          <input id="region_input" type="text" placeholder="Enter Region" name="region">

          <label for="Founder"><b>Founder:</b></label>     
          <select id='founder-filter' name="founder"> 
            <option value="" >null</option>
            {{#each character}}
            <option value="{{character_id}}"> {{character_name}} </option> 
            {{/each}}
          </select>     
          

          <input type="submit" class="submit-button" value="Submit" > 
          <button type="button"
          class="cancel-button" 
          onclick="closeForm()" > Cancel</button> 

      </form>
    </div>


    <script>
      function openForm(){
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        document.getElementById("seat-form").style.display = "block"; 
        document.getElementById("addSeat").reset();
      }

      function closeForm(){
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        document.getElementById("seat-form").style.display = "none"; 
      }

    function deleteSeat(seat_id){
      $.ajax({
        url: '/seats/delete/' + seat_id,
        type: 'POST',
        success: function(result){
            window.location.reload(true);
        }
    })
    }

    </script>




  </body>